$primary-light: #70b7fa;
$primary-medium: #4a9cd4;
$primary-dark: #2b84ad;

$secondary-light: #6b6b6b;
$secondary-medium: #444444;
$secondary-dark: #1f1f1f;

$greys-light: #e7e7e7;
$greys-medium: #cccccc;
$greys-dark: #aaaaaa;

$success-light: #c0d923;
$success-medium: #aab20a;
$success-dark: #8c8800;

$warning-light: #ffd83b;
$warning-medium: #f2b520;
$warning-dark: #cc8306;

$alert-light: #f25757;
$alert-medium: #cb3535;
$alert-dark: #a61b26;